.button {
  width: auto;
  height: 2.25rem;
  padding: 0 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font: var(--font-label);
  cursor: pointer;
}

.primary {
  background-color: var(--color-action-primary);
  color: var(--color-background);
}

.primary:hover {
  background-color: var(--color-action-secondary);
}

.secondary {
  background-color: var(--color-background);
  border: 0.125rem solid var(--color-text-primary);
  color: var(--color-text-primary);
}

.secondary:hover {
  border-color: var(--color-text-secondary);
  color: var(--color-text-secondary);
}
