.headerBar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--color-surface);
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font: var(--font-title);
  margin-left: 0.75rem;
  text-transform: uppercase;
}
