.form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.formTitle {
  font: var(--font-heading);
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 2rem;
  align-items: flex-end;
}

.textField {
  width: 50%;
  max-width: 16rem;
}

.textField.stretch {
  width: 50%;
  max-width: none;
  flex-grow: 1;
}
