:root {
  --color-tse-navy-blue: #0c2b35;
  --color-tse-gold: #debb01;
  --color-background: var(--color-tse-navy-blue);
  --color-surface: #16404f;
  --color-text-primary: #fff;
  --color-text-secondary: #bbc;
  --color-action-primary: var(--color-tse-gold);
  --color-action-secondary: #ad930b;
  --color-accent: #7fd6d6;
  --color-error: #fc3030;
  --font-title: normal 500 2rem "Rubik", sans-serif;
  --font-heading: normal bold 1.5rem "Rubik", sans-serif;
  --font-label: normal bold 1rem "Rubik", sans-serif;
  --font-body: normal 1rem "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: var(--color-accent) solid medium;
}

html,
body {
  font: var(--font-body);
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

p {
  margin-top: 1em;
}

a {
  color: var(--color-text-primary);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-secondary);
}
